<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">Account Summary</div>
      <table class="table">
        <thead>
          <tr>
            <th>Credit Limit</th>
            <th>Balance</th>
            <th>APR</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>$1000</td>
            <td>$600</td>
            <td>35%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
