<h1>Welcome to Line of Credit</h1>
<p>
  Please <%= link_to 'sign in', sign_in_path %>
</p>
<p>
  If you have not signed up yet and you would like a line of credit, please <%= link_to 'sign up', sign_up_path %>.
</p>
